<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="AppointmentReason">Appointment Reasons</h4>
    <div class="card-body">

        <div class="text-danger">@Html.Raw(TempData["Feedback"])</div>
        <form asp-action="InsertFromExcel" asp-controller="AppointmentReason" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custom-file-label">Upload Excel File:</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="theExcel" id="theExcel">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload Data" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-7">
                    <p>
                        Put all the data to upload into the first column of the Excel spreadsheet.<br />
                        Start the data in the second row of your spreadsheet to leave room for the <br />
                        heading "Appointment Reason" in the first row.<br />
                        The program looks for this column heading to help make sure you uploaded the correct file.
                    </p>
                </div>
            </div>
        </form>

        @Html.DropDownList("AppointmentReasonID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    <div class="card-footer">
        <a asp-controller="AppointmentReason" asp-action="Create">Create</a> |
        <a asp-controller="AppointmentReason" asp-action="Edit" class="linkClick">Edit</a> |
        <a asp-controller="AppointmentReason" asp-action="Delete" class="linkClick">Delete</a>
    </div>
</div>